@model Tipsters.Models.ViewModels.AdminViewModels.HomeViewModel
@section Styles{
    <link href="~/Content/admin.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Home";

}

@Html.Partial("_LayoutAdmin")
<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="@Url.Action("Home","Admin")">Home</a></li>
            <li><a href="@Url.Action("Users","Admin")">Users</a></li>
            <li><a href="@Url.Action("Tips","Admin")">Tips</a></li>
            <li><a href="@Url.Action("Comments","Admin")">Comments</a></li>
            <li><a href="#">Others</a></li>
        </ul>
    </div>
    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dashboard
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-6 col-md-6">
                        <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br />@Model.NumbersOfUsers</a>
                        <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br />@Model.NumbersOfTips</a>
                        <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br />@Model.NumbersOfComments</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
