@model IEnumerable<Tipsters.Models.Models.Pronostic>

@section Styles{
    <link href="~/Content/admin.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
}

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" method="GET" role="search">
                <div class="form-group">
                    <input type="text" name="q" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </form>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="@Url.Action("Home","Admin")">Home</a></li>
            <li><a href="@Url.Action("Users","Admin")">Users</a></li>
            <li class="active"><a href="@Url.Action("Tips","Admin")">Tips</a></li>
            <li><a href="@Url.Action("Comments","Admin")">Comments</a></li>
            <li><a href="#">Others</a></li>
        </ul>
    </div>
    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dashboard
            </div>
            <div class="panel-body">
                <div class="container bootstrap snippet">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="main-box no-header clearfix">
                                <div class="main-box-body clearfix">
                                    <div class="table-responsive">
                                        <table class="table user-list">
                                            <thead>
                                                <tr>
                                                    <th><span>User</span></th>
                                                    <th><span>Created</span></th>
                                                    <th class="text-center"><span>Status</span></th>
                                                    <th><span>Email</span></th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var tip in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img src="~/Content/Images/@tip.User.Image" alt="">
                                                            <a href="#" class="user-link">@tip.LocalTeam vs @tip.AwayTeam</a>
                                                            <span class="user-subhead">@tip.Id</span>
                                                        </td>
                                                        <td>@tip.TimeElpased</td>
                                                        <td class="text-center">
                                                            <span class="label label-success">Active</span>
                                                        </td>
                                                        <td>
                                                            <a href="#">@tip.User.Email</a>
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <a href="#" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="#" class="table-link">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                            <a href="#" class="table-link danger">
                                                                <span class="fa-stack">
                                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

