@using AutoMapper
@using Microsoft.AspNet.Identity
@using Tipsters.Models.Models
@using Tipsters.Models.ViewModels.UsersViewMode
@model IEnumerable<Tipsters.Models.ViewModels.UsersViewMode.UserViewModel>
@section Styles{

    <link href=@Url.Content("~/Content/Tipsters.css") rel="stylesheet" />
}

@section scripts
{  
    <script src="~/Scripts/tipsters.js"></script>
}

@{
    ViewBag.Title = "Tipsters";
    
}

<main>
    <div class="container bootstrap snippet">
        @foreach (var user in Model)
        {
            var userLog = Model.FirstOrDefault(x => x.Email == User.Identity.Name);
            if (user.Email == User.Identity.Name)
            {
                continue;
            }
            <div class="col-sm-4">
                <!-- Begin user profile -->
                <div class="box-info text-center user-profile-2">
                    <div class="header-cover">
                        <img src="~/Content/Images/background2.jpg" alt="User cover">
                    </div>
                    <div class="user-profile-inner">
                        <h4 class="white">@user.FullName</h4>
                        @if (string.IsNullOrWhiteSpace(user.Image))
                        {
                            <img src="~/Content/Images/avatar.png" class="img-circle profile-avatar" alt="User avatar">
                            <h5>Tips @user.OwnerPronostics.Count</h5>
                        }
                        else
                        {
                            <img src="~/Content/Images/@user.Image" class="img-circle profile-avatar" alt="User avatar">
                            <h5>Tips @user.OwnerPronostics.Count</h5>
                        }
                        <!-- User button -->
                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="@Url.Action("Profile", "Users", new {id = user.Id})"><input type="button" class="btn btn-primary btn-sm btn-block" value="View Profile"></a>
                                </div>
                                @if (Request.IsAuthenticated)
                                {
                                    ApplicationUser userModel = Mapper.Map<ApplicationUser>(user);
                                    if (userLog.OwnerFollowers.Contains(userModel))
                                    {
                                        <div class="col-md-6">
                                            <button type="submit" data-follow="@user.Id" class="btn btn-default btn-sm btn-block btn-follow" style="font-weight: bold">Followed</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-6">
                                            <button type="submit" data-follow="@user.Id" class="btn btn-default btn-sm btn-block btn-follow">Follow</button>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</main>