@using System.Threading
@model Tuple<IEnumerable<Tipsters.Models.Models.County>, IEnumerable<Tipsters.Models.Models.Tip>>
@section Scripts
{
    <script src="~/Scripts/posttip.js"></script>
    <script>
        $("#datetimepicker").datetimepicker({
            format: "yyyy-mm-dd hh:ii:00"
        });
    </script>
}

@section Styles{
    <link href=@Url.Content("~/Content/postPronostics.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/bootstrap-datetimepicker.css") rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "PostTips";
}

<div id="wrapper">

    @using (Html.BeginForm("PostTips", "Tips", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @*<main class="text-center">*@
        <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="jumbotron">
                        <div class="container">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="text-center">
                                    <h1 class="display-2">Post Tips</h1>
                                </div>
                                <br />
                                <div class="col-lg-5 col-md-5 col-xs-6">
                                    <select name="SelectHomeTeam" id="selectLocalTeam" class="form-control selectpicker " onchange="LocalTeam()" data-style="btn-info" data-live-search="true">
                                        <option>Home Team</option>
                                        @foreach (var country in Model.Item1)
                                        {
                                            <option>
                                                @country.Name
                                                @foreach (var league in country.Leagues)
                                                {
                                                    <optgroup label="@league.Name">
                                                        @foreach (var team in league.Teams)
                                                        {
                                                            <option>@team.Name</option>
                                                        }
                                                    </optgroup>
                                                }
                                            </option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-offset-2 col-md-offset-2 col-xs-offset-0 col-lg-5 col-md-5 col-xs-6">
                                    <select name="SelectAwayTeam" id="selectAwayTeam" class="form-control selectpicker" onchange="AwayTeam()" data-style="btn-info" data-live-search="true">
                                        <option>Away Team</option>
                                        @foreach (var country in Model.Item1)
                                        {
                                            foreach (var league in country.Leagues)
                                            {
                                                <optgroup label="@league.Name">
                                                    @foreach (var team in league.Teams)
                                                    {
                                                        <option>@team.Name</option>
                                                    }
                                                </optgroup>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <br />
                                </div>
                                <div class="col-lg-5 col-md-5 col-xs-6">
                                    <select name="SelectTips" id="selectTip" class="form-control selectpicker" data-style="btn-info" data-live-search="true">
                                        <option>Type Of Tip</option>
                                        @foreach (var tip in Model.Item2)
                                        {
                                            <option>@tip.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-offset-2 col-md-offset-2 col-xs-offset-0 col-lg-5 col-md-5 col-xs-6">
                                    <div class="input-group date" id="datetimepicker">
                                        <input type="datetime" class="form-control label-info" name="StartMatch" placeholder="Start match" style="color: white" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <br />
                                </div>
                                <div class="col-lg-5 col-md-5 col-xs-6">
                                    <div class="input-group">
                                        <input id="StartMacth" class=" form-control btn-info" type="text" name="Koeficent" placeholder="Coefficient" value="">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-ok" id="message3"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-offset-2 col-md-offset-2 col-xs-offset-0 col-lg-5 col-md-5 col-xs-6">
                                    <div class="input-group">
                                        <input id="chance" class=" form-control btn-info" type="text" name="Chance" placeholder="Chance in %" value="">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-ok" id="message3"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <br />
                                </div>
                                <div class="form-group row col-lg-offset-3 col-md-offset-3 col-xs-offset-3 col-lg-6 col-md-6 col-xs-6">
                                    <input type="submit" id="btn-login" class="btn btn-success btn-lg btn-block" value="Post" />
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        @*</main>*@

    }
</div>







