@using System.Threading
@model Tuple<IEnumerable<Tipsters.Models.Models.County>,IEnumerable<Tipsters.Models.Models.Tip>>
@section Scripts
{
    <script>
    $("#datetimepicker").datetimepicker({
        format: "yyyy-mm-dd hh:ii:00"
        });
    </script>
}

@section Styles{
    <link href=@Url.Content("~/Content/postPronostics.css") rel="stylesheet" />
    <link href=@Url.Content("~/Content/bootstrap-datetimepicker.css") rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "PostTips";
}


@using (Html.BeginForm("PostTips", "Tips", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="container">

    <div class="jumbotron">
        <h2 id="PostTips"> Post Tips </h2>
        <br>
        <select name="SelectHomeTeam" id="selectLocalTeam" class="selectpicker" data-style="btn-info" data-live-search="true">
            <option>Home Team</option>
            @foreach (var country in Model.Item1)
            {
                <option>
                    @country.Name
                @foreach (var league in country.Leagues)
                {
                    <optgroup label="@league.Name">
                        @foreach (var team in league.Teams)
                        {
                            <option>@team.Name</option>
                        }
                    </optgroup>

                }
            </option>

                }
        </select>

        <select name="SelectAwayTeam" id="selectAwayTeam" class="selectpicker pull-right" data-style="btn-info" data-live-search="true">
            <option>Awat Team</option>
            @foreach (var country in Model.Item1)
            {

                foreach (var league in country.Leagues)
                {
                    <optgroup label="@league.Name">
                        @foreach (var team in league.Teams)
                        {
                            <option>@team.Name</option>
                        }
                    </optgroup>

                }

            }
        </select>
        <br>
        <br>
        <select name="SelectTips" id="selectTip" class="selectpicker" data-style="btn-info" data-live-search="true">
            <option>Type Of Tip</option>
            @foreach (var tip in Model.Item2)
            {
                <option>@tip.Name</option>
            }
        </select>
        <div class="input-group date pull-right " id="datetimepicker">
            <input type="datetime" class="form-control label-info" name="StartMatch" placeholder="Start match" style="color: white"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <br>
        <br>
        <div>
            <input id="StartMacth" class=" form-control btn-info" type="text" name="Koeficent" placeholder="Koeficent" value="">
            <input id="chance" class=" form-control btn-info pull-right" type="text" name="Chance" placeholder="Chance in %" value="">
        </div>
        <br>
        <br>
        <input type="submit" class="btn btn-group-lg btn-success pull-right" value="Post">
    </div>
</div>

    }




