@using Microsoft.Ajax.Utilities
@model IEnumerable<Tipsters.Models.ViewModels.PronosticsViewModel.PronosticViewModel>
@section scripts
{
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="~/Scripts/Tips.js"></script>
}
@section Styles{
    <link href=@Url.Content("~/Content/tips.css") rel="stylesheet" />
}
@{
    ViewBag.Title = "Top10Tips";
}
<div class="row">
    <div class="col-12">
        <span class="col-1 col-lg-offset-0 btn btn-default ">Order By</span>
        <input class="col-1 col-lg-offset-0 btn btn-default" type="submit" value="Percent" />
        <input class="col-1 col-lg-offset-0 btn btn-default" type="submit" value="Coefficient" />
        <input class="col-1 col-lg-offset-0 btn btn-default" type="submit" value="Start match" />
    </div>
    <br />
    <div class="col-10 text-center">
        @foreach (var tip in Model.OrderByDescending(x=>x.TimeElpased))
        {
            <div id="customJumbotron" class="jumbotron">
                <div class="pull-left col-3 text-center">
                    <a href="@Url.Action("Profile", "Users", new {id = tip.User.Id})"><button class="btn btn-success"><strong>@tip.User.UserName</strong></button></a>
                </div>
                <div class="pull-right col-3 text-center">
                    <span id="TimeElapsed" class="btn btn-warning"><strong>@tip.TimeAgoPronostic</strong></span>
                </div>
                <div class="col-4 col-lg-offset-1 text-center">
                    <span class="btn btn-primary"><strong>@tip.LocalTeam vs @tip.AwayTeam</strong></span>
                </div>
                <div class="jumbotron">
                    <div class="col-3 pull-left">
                        <span><strong>Type Of Tip:</strong></span>
                        <span class="btn btn-info">@tip.TypeOfPrognise</span>
                    </div>
                    <div class="col-3 pull-right">
                        <span><strong>Start Match:</strong></span>
                        @{
                            if (tip.StartMatch.Day == DateTime.Now.Day && tip.StartMatch.Month == DateTime.Now.Month)
                            {
                                <span class="btn btn-info">Today @tip.StartMatch.ToString($"HH:mm:ss")</span>
                            }
                            else if (tip.StartMatch.Day == DateTime.Now.Day + 1)
                            {
                                <span class="btn btn-info">Tomorrow @tip.StartMatch.ToString($"HH:mm:ss")</span>
                            }
                            else
                            {
                                <span class="btn btn-info">@tip.StartMatch.ToString($"dd-MM-yyyy HH:mm:ss")</span>
                            }
                        }
                    </div>
                    <br>
                    <br>
                    <div class="col-3 pull-left">
                        <span><strong>Odds:</strong></span>
                        <span class="btn btn-info">@tip.Koeficent</span>
                    </div>

                    <div class="col-3 pull-right">

                        <button type="button" id="button_up_ajax-@tip.Id" data-val="@tip.VotesUp" data-tip="@tip.Id" class="btn btn-success glyphicon glyphicon-thumbs-up Up btn-vote">&nbsp; @tip.VotesUp</button>
                        <button type="button" id="button_down_ajax-@tip.Id" data-val2="@tip.VotesDown" data-tip="@tip.Id" class="btn btn-success glyphicon glyphicon-thumbs-down Down btn-vote">&nbsp; @tip.VotesDown</button>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-12">
                        <div class="progress">
                            <div id="progress_bar_@tip.Id" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="@tip.PercentageWin" aria-valuemin="0" aria-valuemax="100" style="width: @tip.PercentageWin%">@tip.PercentageWin%</div>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0);" id="@tip.Id" class="pull-right btn-show" style="color: white;">Show Comments @tip.OwnerComments.Count</a>
                <br/>
                <form id="form-@tip.Id" method="post">
                    <div class="input-group">
                        <input id="comment-@tip.Id" class="form-control" type="text" name="Comment" placeholder="Post your comment"/>
                        <span class="input-group-btn">
                            <button id="@tip.Id" class="btn btn-primary btn-send" type="submit">Post</button>
                        </span>
                    </div>
                </form>
            </div>
            <div id="comments-@tip.Id" class="hidden">
                <div id="Last_Comment-@tip.Id" class="row hidden">
                    <div class="col-sm-1">
                        <div class="thumbnail">
                            <img id="Image_ajax-@tip.Id" class="img-responsive user-photo" src="">
                        </div><!-- /thumbnail -->
                    </div><!-- /col-sm-1 -->
                    <div class="col-sm-11">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong id="Email_ajax-@tip.Id"></strong> <span id="TimePosted_ajax-@tip.Id" class="text-muted pull-right"></span>
                            </div>
                            <div class="panel-body">
                                <p id="Message_ajax-@tip.Id" class="pull-left"></p>
                            </div><!-- /panel-body -->
                        </div><!-- /panel panel-default -->
                    </div><!-- /col-sm-5 -->
                </div>
                @foreach (var comment in tip.OwnerComments.OrderByDescending(x => x.TimePosted))
                {
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" src="~/Content/Images/@comment.User.Image">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->
                        <div class="col-sm-11">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>@comment.User.Email</strong> <span class="text-muted pull-right">commented @comment.TimePostedComment</span>
                                </div>
                                <div class="panel-body">
                                    <p class="pull-left">@comment.Message</p>
                                </div><!-- /panel-body -->
                            </div><!-- /panel panel-default -->
                        </div><!-- /col-sm-5 -->
                    </div>
                }
            </div>
        }

    </div>
</div>

