@model Tipsters.Models.ViewModels.AccountViewModel.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post, new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            foreach (AuthenticationDescription p in loginProviders)
                    {
                        <input type="submit" id="@p.AuthenticationType" class="btn btn-primary btn-lg " style="margin-left: 130px; margin-top: -68px" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" />
                        @*<button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>*@
            }
        }
    }
}
